.productsPage {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-around;
  grid-gap: 10px;
}

.productsControls {
  display: flex;
  justify-content: space-between;
}
.productsControls button {
  margin-left: 5px;
}
.errorMessage {
  color: gray;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .products {
    grid-template-columns: repeat(auto-fill, 260px);
    justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(auto-fill, 220px);
    justify-content: space-between;
  }
}

@media screen and (max-width: 780px) {
  .products {
    grid-template-columns: repeat(auto-fill, 45%);
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .products {
    grid-template-columns: repeat(auto-fill, 85%);
    justify-content: center;
  }
}
